<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" layout:decorator="layout">
<head>

    <title>Account Segments</title>
</head>

<body>
<div class="col-sm-12" layout:fragment="content">
    <h3>Account Segments</h3>

    <div class="form-group">
        <a th:href="@{/settings/accountSegment/addAccountSegment}" class="btn btn-sm btn-success">
            <span class="fa fa-plus"></span>Add Account Segment
        </a>
    </div>

    <table class="table table-responsive table-bordered table-striped table-condensed">
        <thead>
        <tr class="col-sm-8">
            <th>No.</th>
            <th>Segment No.</th>
            <th>Segment Description</th>
            <th>Length</th>
            <th colspan="2">Edit</th>
        </tr>
        </thead>

        <tbody>
        <tr class="col-sm-8" th:each="segment : ${segment}">
            <td th:text="${segmentStat.count}"></td>
            <td th:text="${segment.id}"></td>
            <td th:text="${segment.description}"></td>
            <td th:text="${segment.length}"></td>
            <td><a th:href="@{'/settings/accountSegment/editAccountSegment/{id}'(id=${segment.id})}">
                <button class="btn btn-sm btn-success"><span class="fa fa-edit">
                    </span>Edit</button>
            </a> </td>
            <td><a th:href="@{'/settings/account-segments/{id}'(id=${segment.id})}">
                <button class="btn btn-sm btn-success"><span class="fa fa-edit">
                    </span>Delete</button>
            </a> </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>