<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.w3.org/1999/xhtml" layout:decorator="layout">
<head>
    <meta charset="UTF-8"/>
    <title>Verify Document Form</title>
    <link th:href="@{/node_modules/select2/dist/css/select2.min.css}" rel="stylesheet" type="text/css"/>
    <style>
        .select2-container--default .select2-selection--single {
            height: 34px !important;
            padding-top: 2px;
        }
    </style>
</head>
<body>
<div>

    <div class="col-sm-12" layout:fragment="content">
        <form th:object="${verifyDocumentsDetails}" method="post" th:action="@{#}">
            <!--<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>-->
            <br/>
            <div>
                <h4>Verify Document</h4>
            </div>

            <div class="row">
                <div class="form-group col-sm-4">
                    <label>Document Number</label>
                    <input class="form-control" type="text" th:id="documentNumber" th:name="documentNumber" th:value="${documents.documentNumber}"/>
                </div>

            </div>
            <div class="row">
                <div class="form-group col-sm-4">
                    <label>Document Description</label>
                    <input class="form-control" type="text" th:id="docDescription" th:name="docDescription" th:value="${documents.reference}"/>
                </div>
                <div class="form-group col-sm-4">
                    <label>Document Type</label><br/>
                    <input class="form-control" type="text" th:id="docType" th:name="docType" th:value="${documents.documentType}"/>
                </div>

            </div>
            <div class="row">
                <div class="form-group col-sm-4">
                    <label>Student Account</label>
                    <input class="form-control" type="text" th:id="studentAccount" th:name="studentAccount" th:value="${documents.customerId}"/>
                </div>
                <div class="form-group col-sm-4">
                    <label>Student Number</label>
                    <input type="text" class="form-control" th:id="studentnumber" th:name="studentnumber" th:value="${documents.studentNumber}"/>
                </div>

            </div>
            <div class="row">
                <div class="form-group col-sm-4">
                    <label>Student Name</label>
                    <input class="form-control" type="text" th:id="name" th:name="name" th:value="${student.fullName}"/>
                </div>
                <div class="form-group col-sm-4">
                    <label>Academic Year</label>
                    <input class="form-control" type="text" th:id="accYear" th:name="accYear" th:value="${student.academicYearCode}"/>
                </div>

            </div>
            <div class="row" >
                <div class="form-group col-sm-4">
                    <label>Semester/Session</label>
                    <input class="form-control" type="text" th:id="sem" th:name="sem" th:value="${student.sessionCode}"/>
                </div>
                <div class="form-group col-sm-4">
                    <label>Year of Study</label>
                    <input class="form-control" type="text" th:value="${student.currentYear}"/>
                </div>
            </div>
            <div>
                <ul class="nav nav-tabs">
                    <li class="nav-item">
                        <a class="nav-link active" href="#"><b>Document Entries</b></a>
                    </li>
                </ul>
                <br/>
                <div class="row" >
                    <div class="form-group col-sm-4">
                        <label>Segment</label>
                        <select th:id="segment" th:name="segment"  class="form-control" >
                            <option value="">--------</option>
                            <option th:each="seg : ${segment}" th:value="${seg.code}" th:text="${seg.code} + ' : ' + ${seg.name}"/>
                        </select>
                    </div>
                    <div class="form-group col-sm-4">
                        <label>Amount</label>
                        <input class="form-control" type="number" th:id="amount" th:name="amount"/>
                    </div>
                </div>
                <div class="row tab-content">
                    <div class="form-group col-sm-12">
                        <table border="1">
                            <thead>
                            <tr><th>#</th>
                                <th>Student No</th>
                                <th>Student Name</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="stud : ${student}">
                                <td class="item-stock" th:text="${studStat.count}"></td>
                                <td class="item-stock" th:text="${stud.studentNumber}"></td>
                                <td class="item-stock" th:text="${stud.fullName}"></td>
                                
                            </tr>
                            </tbody>
                            <tfoot>
                            </tfoot>
                        </table>
                    </div>
                    <div>
                        <button type="submit" class="btn btn-success" formaction="/invoicing/verifyDocuments/update">Update</button>
                        <button type="submit" class="btn btn-warning" formaction="/invoicing/verifyDocuments/delete">Delete</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div layout:fragment="scripts">
        <script th:src="@{/node_modules/select2/dist/js/select2.min.js}" type="text/javascript"></script>
        <a class="hidden" th:href="@{/reports/verifyDocuments}" id="verifyDocuments-url"></a>
        <script>

            $('#documentNumber').select2({
                placeholder: 'Type to search',
                ajax: {
                    url: $('#verifyDocuments-url').attr('href'),
                    delay: 200,
                    dataType: 'json',
                    data: function (params) {
                        return {
                            search: params.term,
                            page: params.page || 1
                        }
                    },
                    processResults: function (response) {
                        var documents = response.content.map(function (verifyDocuments) {
                            return {
                                id: verifyDocuments.documentNumber,
                                text: verifyDocuments.documentNumber + ' : ' + verifyDocuments.batchDescription
                            }
                        });

                        return {
                            results: documents,
                            pagination: {more: !response.last}
                        };
                    },
                    escapeMarkup: function (markup) {
                        return markup;
                    }
                },
                minimumInputLength: 1
            });
        </script>
    </div>
</div>
</body>

</html>





