<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.w3.org/1999/xhtml" layout:decorator="layout">
<head>
    <meta charset="UTF-8" />
    <title>Cancel Receipt</title>

</head>
<body>
    <div>
        <div>
            <h2>Cancel Recipt Form</h2>
        </div>
        <div class="col-sm-8" layout:fragment="content">
            <form th:object="${receipt}" th:action="@{/receipting/receipt/findReceipt}" method="GET" >

                <div class="row">
                <div class="form-group col-sm-4">
                    <label>Receipt Number:</label>
                    <input type="text" name="receiptNumber" id="receiptNumber"/>
                    <input type = "submit" name = "search" id="search" value="Search" />
                </div>
                </div>
                <div class="row">
                <div class="form-group col-sm-4">
                    <label>Student Number:</label>
                    <input type="text" class="form-control" name="studentNumber" disabled="disabled"  />
                </div>
                    <div class="form-group col-sm-4">
                    <label>Name:</label>
                    <input type="text" class="form-control" name="name"  disabled="disabled" />
                    </div>
                    <div class="form-group col-sm-4">
                    <label>Academic Year</label>
                    <input type="text" class="form-control" name="year"  disabled="disabled" />
                </div>
                </div>
                <div class="row">
                 <div class="form-group col-sm-4">
                     <label>Semester</label>
                     <input type="text" class="form-control" name="semester"  disabled="disabled" />
                 </div>
                    <div class="form-group col-sm-4">
                     <label>Receipt Number</label>
                     <input type="text" class="form-control" disabled="disabled" />
                    </div>
                    <div class="form-group col-sm-4">
                     <label>Bank Name</label>
                     <input type="text" class="form-control" name="bank"  disabled="disabled" />
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-sm-4">
                        <label>Receipt Type</label>
                        <input type="text"  class="form-control" name="rcpt"  disabled="disabled" />
                    </div>
                    <div class="form-group col-sm-4">
                        <label>Mode of Payment</label>
                        <input type="text"  class="form-control" name="mop"  disabled="disabled" />
                    </div>
                    <div class="form-group col-sm-4">
                        <label>Receipt Date</label>
                        <input type="text"  class="form-control" name="rd"  disabled="disabled" />
                    </div>
                </div>

                <div class="row">
                    <div class="form-group col-sm-4">
                        <label>Deposit Date</label>
                        <input type="text" name="dod"  class="form-control" disabled="disabled" />
                    </div>
                    <div class="form-group col-sm-4">
                        <label>Amount</label>
                        <input type="text" name="amount"   class="form-control" disabled="disabled" />
                    </div>
                    <div class="form-group col-sm-4">
                        <label>Currencry</label>
                        <input type="text" name="currency"  class="form-control" disabled="disabled" />
                    </div>
                </div>

                <div class="row">
                    <div class="form-group col-sm-4">
                        <label>Posted</label>
                        <input type="text" name="posted"  class="form-control" disabled="disabled" />
                    </div>
                    <div class="form-group col-sm-4">
                        <label>Status</label>
                        <input type="text" name="status"  class="form-control" disabled="disabled" />
                    </div>
                </div>
                <p class="alert alert-warning" th:if="${error}"><span th:text="${error}"></span></p>

                    <div th:if="${#lists.isEmpty(receipt)}">
                        <p class="alert alert-success" th:if="${error}"><span th:text="${error}"></span></p>
                    </div>
                    <hr size="4"/>

                        <table class="col-sm-12 table-bordered">
                            <thead>
                            <tr>
                                <th>No</th>
                                <th>Item Code</th>
                                <th>Description</th>
                                <th>Amount</th>

                            </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                            <tr>
                                <td colspan="4"><b>Total</b></td>
                            </tr>
                            </tbody>
                        </table>
                    <div>
                        <div><button class="button">Cancel</button>
                        <button class="button">Clear</button></div>
                    </div>

            </form>
        </div>
    </div>

</body>
</html>