<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.thymeleaf.org"
      layout:decorator="layout">
<head>

    <title>Payee Group</title>
</head>
<body>

<div class="col-sm-12" layout:fragment="content">
    <div class="header mt-2">
        <h4>Add Payee Groups</h4>
    </div>

    <form th:object="${payeeGroup}" th:action="@{/settings/payeeGroup/addPaymentMode}" method="post">
        <div class="col-sm-8">
            <div class="form-group col-sm-4">
                <label>Group Code : </label>
                <input type="text" th:id="code" th:name="code" class="form-control" />
            </div>
            <div class="form-group col-sm-4">
                <label>Description : </label>
                <input type="text" th:id="name" th:name="name" class="form-control" />
            </div>
            <div class="form-group col-sm-4">
                <label>Is Student? : </label>
                <input type="radio" th:id="student" th:name="student"  />
            </div>
            <div class="form-group col-sm-4">
                <label>Is Alumni? : </label>
                <input type="radio" th:id="alumni" th:name="alumni"  />
            </div>

            <div class="form-group col-sm-4">
                <label>Has Account Sets? : </label>
                <input type="checkbox" th:id="accountSets" th:name="accountSets"  />
            </div>


            <div class="form-group col-sm-12">
                <button type="submit" class="btn btn-sm btn-success" name="submit"><span class="fa fa-check"></span>Save
                </button>
                <a th:if="${id != null}" th:href="@{'/settings/payee-groups/{id}/delete'(id=${id})}"
                   class="btn btn-sm btn-danger"
                   onclick="return confirm('Do you really want to delete this record?')"><span
                        class="fa fa-trash"> </span>Delete </a>
                <a th:href="@{/settings/payee-groups}" class="btn btn-sm btn-warning"> <span
                        class="fa fa-repeat"></span>Cancel</a>

            </div>
        </div>

    </form>

</div>
</body>
</html>