<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.thymeleaf.org" layout:decorator="layout">
<head>

    <title>Edit Bank</title>
</head>
<body>

<div class="col-sm-12" layout:fragment="content">
    <div class="header mt-2">
        <h4>Banks</h4>
    </div>

    <form  th:action="@{/settings/bankApi/addBankApi}" method="post">
        <div class="col-sm-8">
            <div class="row">
            <div class="form-group col-sm-4">
                <label>Bank Code : </label>
                <input type="text" th:id="code" th:name="code" class="form-control" />
            </div>
            <div class="form-group col-sm-4">
                <label>Bank Name : </label>
                <input type="text" class="form-control" th:id="name" th:name="name"/>
            </div>
            </div>
            <div class="row">
                <div class="form-group col-sm-4">
                    <label>Key : </label>
                    <input type="text" th:id="key" th:name="key" class="form-control" />
                </div>
                <div class="form-group col-sm-4">
                    <label>Account Code : </label>
                    <select class="form-control" th:id="accountSet" th:name="accountSet">
                        <option value="">...</option>
                        <option th:each="accountSet : ${accountSet}" th:value="${accountSet.code}" th:text="${accountSet.name}"></option>
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-sm-4">
                    <label>Username: </label>
                    <input type="text" class="form-control" th:id="userName" th:name="userName"/>
                </div>
                <div class="form-group col-sm-4">
                    <label>Password: </label>
                    <input type="password" class="form-control" th:id="password" th:name="password"/>
                </div>
            </div>

             <div class="form-group col-sm-12">
                <button type="submit" class="btn btn-sm btn-success" name="submit"><span class="fa fa-check"></span>Save </button>
                <a th:if="${id != null}" th:href="@{'/settings/bankApi/{id}/delete'(id=${id})}"
                   class="btn btn-sm btn-danger"
                   onclick="return confirm('Do you really want to delete this record?')"><span
                        class="fa fa-trash"> </span>Delete </a>
                <a th:href="@{/settings/banks}" class="btn btn-sm btn-warning"> <span
                        class="fa fa-repeat"></span>Cancel</a>

            </div>
        </div>
    </form>

</div>
</body>
</html>