<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.thymeleaf.org" layout:decorator="layout">
<head>
    <title>Student Restriction</title>
</head>
<body>

<div class="col-sm-12" layout:fragment="content">
    <div class="header mt-2">
        <h4>Student Restriction</h4>
    </div>

    <form  th:action="@{/settings/studentRestriction/updateStudentRestriction/{id}(id=${studentRestriction.id})}" th:object="${studentRestriction}" method="post">

        <div class="col-sm-8">

            <div class="form-group col-sm-4">
                <label>Student Status</label>
                <select class="form-control" th:id="status" th:name="status" th:field="*{status}">
                    <option value="">...</option>
                    <option th:each="status : ${status}" th:value="${status.code}" th:text="${status.code} + ' : ' + ${status.name}"></option>
                </select>
            </div>

            <div class="form-group col-sm-4">
                <label>Transaction Code</label>
                <input type="text" th:id="code" th:name="code" class="form-control" th:field="*{code}"/>
            </div>

            <div class="form-group col-sm-4">
                <label>Description</label>
                <input type="text" th:id="name" th:name="name" class="form-control" th:field="*{name}"/>
            </div>

            <div class="form-group col-sm-4">
                <label>Future Days</label>
                <input type="number" th:id="futureDays" th:name="futureDays" th:field="*{futureDays}"/>
            </div>

            <div class="form-group col-sm-12">
                <button type="submit" class="btn btn-sm btn-success" name="submit"><span class="fa fa-check"></span>Save
                </button>
                <a th:if="${id != null}" th:href="@{'/settings/fees-payment-plan/{id}/delete'(id=${id})}"
                   class="btn btn-sm btn-danger"
                   onclick="return confirm('Do you really want to delete this record?')"><span
                        class="fa fa-trash"> </span>Delete </a>
                <a th:href="@{/settings/fees-payment-plan}" class="btn btn-sm btn-warning"> <span
                        class="fa fa-repeat"></span>Cancel</a>

            </div>
        </div>

    </form>

</div>
</body>
</html>