<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" layout:decorator="layout">
<head>

    <title>Cancel Reasons</title>
</head>

<body>
<div class="col-sm-12" layout:fragment="content">
    <h3>Cancel Reason List</h3>

    <div class="form-group">
        <a th:href="@{/settings/cancelReason/addCancelReason}" class="btn btn-sm btn-success">
            <span class="fa fa-plus"></span>Add Cancel Reason
        </a>
    </div>

    <table class="table table-responsive table-bordered table-striped table-condensed">
        <thead>
        <tr class="col-sm-8">
            <th>No.</th>
            <th>Code</th>
            <th>Description</th>
            <th colspan="2">Edit</th>
        </tr>
        </thead>

        <tbody>
        <tr class="col-sm-8" th:each="reason : ${cancelReason}">
            <td th:text="${reasonStat.count}"></td>
            <td th:text="${reason.code}"></td>
            <td th:text="${reason.name}"></td>
            <td><a th:href="@{'/settings/cancelReason/editCancelReason/{id}'(id=${reason.id})}">
                <button class="btn btn-sm btn-success"><span class="fa fa-edit"></span>Edit</button>
            </a> </td>

            <td><a th:href="@{'/settings/cancelReason/deleteCancelReason/{id}'(id=${reason.id})}">
                <button class="btn btn-sm btn-success"><span class="fa fa-edit"></span>Delete</button>
            </a> </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>