<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.thymeleaf.org" layout:decorator="layout">
<head>

    <title>Charge Type</title>
</head>
<body>

<div class="col-sm-12" layout:fragment="content">
    <div class="header mt-2">
        <h4>Add Charge Type</h4>
    </div>
    <form th:object="${chargeType}" th:action="@{/settings/chargeType/addChargeType}" method="post">
        <div class="col-sm-8">
            <div class="form-group col-sm-4">
                <label>Description : </label>
                <input type="text" th:name="description" th:id="description" class="form-control" />
            </div>
            <div class="form-group col-sm-12">
                <button type="submit" class="btn btn-sm btn-success" name="submit"><span class="fa fa-check"></span>Save
                </button>
                <a th:if="${id != null}" th:href="@{'/settings/chargeType/{id}/delete'(id=${id})}" class="btn btn-sm btn-danger"
                   onclick="return confirm('Do you really want to delete this record?')"><span class="fa fa-trash"> </span>Delete </a>
                <a th:href="@{/settings/currencies}" class="btn btn-sm btn-warning"> <span class="fa fa-repeat"></span>Cancel</a>

            </div>
        </div>
    </form>

</div>
</body>
</html>