<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" layout:decorator="layout">
<head>
    <title>Exchange Rates</title>
</head>

<body>
<div class="col-sm-12" layout:fragment="content">
    <h3>Exchange Rates</h3>

    <div class="form-group">
        <a th:href="@{/settings/chargeType/addChargeType}" class="btn btn-sm btn-success">
            <span class="fa fa-plus"></span>Add Charge Type
        </a>
    </div>

    <table class="table table-responsive table-bordered table-striped table-condensed">
        <thead>
        <tr class="col-sm-8">
            <th>No.</th>
            <th>Description</th>
            <th>Edit</th>
        </tr>
        </thead>

        <tbody>
        <tr class="col-sm-8" th:each="charge : ${charge}">
            <td th:text="${chargeStat.count}"></td>
            <td th:text="${charge.description}"></td>

            <td><a th:href="@{'/settings/chargeType/editChargeType/{id}'(id=${charge.id})}">
                <button class="btn btn-sm btn-success"><span class="fa fa-edit">
                    </span>Edit</button>
            </a> </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>