<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.thymeleaf.org" layout:decorator="layout">
<head>
    <title>Edit Level Charges</title>
</head>
<body>

<div class="col-sm-12" layout:fragment="content">
    <div class="header mt-2">
        <h4>Level Charges</h4>
    </div>
    <form  th:action="@{/settings/levelCharge/editLevelCharge/{id}(id=${levelCharge.id})}" th:object="${levelCharge}" method="post">
        <div class="col-sm-8">
            <div class="row">
            <div class="form-group col-sm-4">
                <label>Study Level : </label>
                <select th:id="level" th:name="level" class="form-control" th:field="*{level}">
                    <option value="">...</option>
                    <option th:each="level : ${level}" th:value="${level.code}" th:text="${level.name}"></option>
                </select>
            </div>
            <div class="form-group col-sm-4">
                <label>Country Region : </label>
                <select th:id="region" th:name="region" class="form-control" th:field="*{region}">
                    <option value="">...</option>
                    <option th:each="region : ${region}" th:value="${region.code}" th:text="${region.name}"></option>
                </select>
            </div>
            </div>
            <div class="row">
            <div class="form-group col-sm-4">
                <label>Fees Item : </label>
                <select th:id="chargeItem" th:name="chargeItem" class="form-control" th:field="*{chargeItem}">
                    <option value="">...</option>
                    <option th:each="item : ${chargeItem}" th:value="${chargeItem.code}" th:text="${item.name}"></option>
                </select>
            </div>
            <div class="form-group col-sm-4">
                <label>Currency : </label>
                <select th:id="currency" th:name="currency" class="form-control" th:field="*{currency}">
                    <option value="">...</option>
                    <option th:each="currency : ${currency}" th:value="${currency.code}" th:text="${currency.name}"></option>
                </select>
            </div>
            </div>
            <div class="row">
            <div class="form-group col-sm-4">
                <label>Amount : </label>
                <input type="number" th:id="amount" th:name="amount" class="form-control" th:field="*{amount}"/>
            </div>
            </div>
            <div class="row">
            <div class="form-group col-sm-4">
                <label>Is Online Application :  </label>
                <input type="checkbox" th:id="application" th:name="application" th:field="*{application}"/>
            </div>
            </div>
            <div class="row">
            <div class="form-group col-sm-4">
                <label>Is For Graduation :  </label>
                <input type="checkbox" th:id="graduation" th:name="graduation" th:field="*{graduation}"/>
            </div>
            </div>
            <div class="row">
            <div class="form-group col-sm-4">
                <label>Is Penalty :  </label>
                <input type="checkbox" th:id="penalty" th:name="penalty" th:field="*{penalty}"/>
            </div>
            </div>
            <div class="row">
            <div class="form-group col-sm-4">
                <label>Is Alumni :  </label>
                <input type="checkbox" th:id="alumni" th:name="alumni" th:field="*{alumni}"/>
            </div>
            </div>

            <div class="form-group col-sm-12">
                <button type="submit" class="btn btn-sm btn-success" name="submit"><span class="fa fa-check"></span>Save
                </button>
                <a th:if="${id != null}" th:href="@{'/settings/level-charges/{id}/delete'(id=${id})}"
                   class="btn btn-sm btn-danger"
                   onclick="return confirm('Do you really want to delete this record?')"><span
                        class="fa fa-trash"> </span>Delete </a>
                <a th:href="@{/settings/level-charges}" class="btn btn-sm btn-warning"> <span
                        class="fa fa-repeat"></span>Cancel</a>

            </div>
        </div>

    </form>

</div>
</body>
</html>